.header{
    text-align: center;
}
.header nav {
    line-height: 40px;
    background-color: burlywood;
    font-size: 20px;
    text-align: right;
}
nav a {
    text-decoration: none;
    color: blue;
    margin-right: 80px;
    padding: 6px;
}
nav a:hover {
    background-color: gray;
}
.header h1 {
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    background-color: lightslategrey;
    color: rgb(41, 238, 205);
    line-height: 60px;
}