.courses {
    display: flex;
    border: 1px solid lightgray;
    margin: 20px;
    padding: 20px;
}
.course-name {
    font-weight: 400;
    color: blue;
}

.img img {
    height: 220px;
    width: 300px;
    padding: 10px;
}
.main-button {
    background-color: lightseagreen;
    width: 150px;
    height: 30px;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    cursor: pointer;
}